services:
  summarise:
    image: ghcr.io/accurate0/summarise:${SOURCE_COMMIT}
    expose:
      - "8000"
    environment:
      - DATABASE_URL
      - DISCORD_TOKEN
      - OLLAMA_API_BASE
      - OPENAI_API_KEY
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 90s
      timeout: 10s
      retries: 3
      start_period: 1s
